@using BaseLibrary.Entities
@using Client.ApplicationStates
@implements IDisposable
@inject DepartmentState departmentState
@if(departmentState.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i> Add Department
                        </button>
                    </div>
                    <div class="card-header">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <th scope="row">Mart</th>
                                        <th scope="row">Otto</th>
                                        <th scope="row">mod</th>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th >Jacob</th>
                                        <th >Thornton</th>
                                        <th >fat</th>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <th colspan="2">Larry the Bird</th>
                                        <th >twitter</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<GeneralDepartmentDialog @ref="generalDepartmentDialog"></GeneralDepartmentDialog>
@code {
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartment Department = new();

    protected override void OnInitialized()
    {
        departmentState.GeneralDepartmentAction += StateHasChanged;
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }

    public void Dispose()
    {
        departmentState.GeneralDepartmentAction -= StateHasChanged;
    }
}